body{
    background: rgb(60, 223, 223);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 40px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(73, 69, 69, 0.349);
    text-align: center;
}


img{
    padding: 35px;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}